html, body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
}

.container1 {
  width: 100%;
  height: 100%;
}

.puzzle {
  width: 90%;
  height: 90%;
  background-color: #5d6c7e;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.PuzzleEntry {
  cursor: pointer;
}

.PuzzleEntry:focus {
  outline: none;
}